*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
 background-image: url(../img/background.jpg);
 background-size: cover;
}

.container{
 position: relative;
 margin: auto;
 width: 60%;
}

header{
 position: relative;
 height: 230px;
 width: 100%;
 background-color: #666666;
 top: 7px;
 display: inline-block;
}

.header-image{
 position: relative;
 background-color: red;
 border: 5px white solid;
 width: 100%;
 height: 80%;
}

.three-column{
 position: relative;
 width: 100%;
 top: 10px;
}

.three-column:after {
 content: "";
 display: table;
 clear: both;
}

.first-column{
 float: left;
 background-color: brown;
 width: 20%;
}

.second-column{
 float: left;
 background-color: white;
 width: 50%;
 position: absolute;
 left: 50%;
 transform: translate(-50%);
}

.third-column{
 position: relative;
 float: right;
 width: 20%;
}

.first-widget{
 background-color: blue;
 position: relative;
}
.second-widget{
 background-color: pink;
 position: relative;
 top: 20px;
}

.third-widget{
 background-color: white;
 position: relative;
 top: 40px;
}

footer{
 position: relative;
 background-color: white;
 top: 60px;
 width: 100%;
 height: 110px;
 bottom: 20px;
}
